:root {
  --small-size: 0.8rem; /* 16px */
  /* font size */
  --base-size: 1.2rem;
  --middle-size: 1.4rem;
  --big-size: 1.6rem;
  --title2-size: 2.2rem;
  --title-size: 2.5rem;
  --point-size2: 3.5rem;
  --point-size: 5rem;
  /* color */
  --point-color: #ed3e3e;
  --lightPoint-color: #b6e7da;
  --font-color: rgb(133, 133, 133);
  --font-color2: rgb(90, 90, 90);
  --btn_color: rgb(45, 45, 46);
  /* font family */
  --font-base: "Pretendard";
}
